@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@700&display=swap');

* {
  box-sizing: border-box;
  transition: all ease-in-out 250ms;
}

body {
  margin:0;
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
}

/* Typography*/
h1 {
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

.showcase-container {
  display: flex;
  align-items: center;
  padding: 2rem;
  justify-content: center;
  height: 100vh;
}

.home-showcase h1 {
  font-size: 4rem;
  text-shadow: rgba(0,0,0,0.5) 0 1px 10px;
}

@media (max-width: 412px) {
  .home-showcase h1 {
    font-size: 2rem;
  }
}

/*Home-Showcase*/

.home-showcase {
  background-image: url(../img/cactus-01.jpg);
  background-size: cover;
  background-position: right;
  color: white;
}